# Do not merge `pom.xml` from older version, as it will typically conflict
#
# note: also need:
# git config --global merge.ours.driver true
# (and if ever need to disable change `true` to `false`
pom.xml filter=lfs diff=lfs merge=lfs -text
run.sh filter=lfs diff=lfs merge=lfs -text
SECURITY.md filter=lfs diff=lfs merge=lfs -text
attic filter=lfs diff=lfs merge=lfs -text
create-test-report.sh filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
android filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
profile.sh filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
release-notes filter=lfs diff=lfs merge=lfs -text
